<div class="container">
  <h1>All Products</h1>

  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-3 card ">
        <%= image_tag product.image_url%>
        <div class="card-body">
          <h2> <%= link_to product.title, product_path(product) %> </h2>
          <p>£<%= product.price %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%# <%= link_to "New Product", new_product_path %> %>
</div>
